<div class="container-body-search">
  <div class="search">
    <form #form="ngForm" (submit)="OnSubmit()">
      <input
        type="text"
        placeholder="Search city"
        name="city"
        [(ngModel)]="cityName"
      />
    </form>
  </div>
</div>
<div class="container-body">
  <div class="warm-container" *ngIf="weatherData.main.temp> 60">
    
    <div class="upper-data-warm">
      <img src="../assets/warm-image.jpg" />
      <div class="weather-data">
        <div class="location-label">{{ weatherData.name }}</div>
        <div class="location-temperature">
          {{ weatherData.main.temp | number : "1.0-0" }} °F
        </div>
      </div>
    </div>

    <div class="lower-data-warm">
      <div class="more-information-container">
        <div class="more-information">
          <div class="more-information-label">
            <img src="../assets/cloudy.png" />
            <span>Feels like</span>
          </div>
          <div class="more-information-value">
            {{ weatherData.main.feels_like | number : "1.0-0" }}
          </div>
        </div>

        <div class="more-information">
          <div class="more-information-label">
            <img src="../assets/humidity.png" />
            <span>Humidity</span>
          </div>
          <div class="more-information-value">
            {{ weatherData.main.humidity }}
          </div>
        </div>

        <div class="more-information">
          <div class="more-information-label">
            <img src="../assets/storm.png" />
            <span>Winds</span>
          </div>
          <div class="more-information-value">
            {{ weatherData.wind.speed | number : "1.0-0" }}
          </div>
        </div>

        <div class="more-information">
          <div class="more-information-label">
            <img src="../assets/air_pressure.png" />
            <span>Air pressure</span>
          </div>
          <div class="more-information-value">
            {{ weatherData.main.pressure }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cold-container" *ngIf="weatherData.main.temp <= 60">
    <div class="upper-data-cold">
      <img src="../assets/cold-image.jpg" />
      <div class="weather-data">
        <div class="location-label">{{ weatherData.name }}</div>
        <div class="location-temperature">
          {{ weatherData.main.temp | number : "1.0-0" }} °F
        </div>
      </div>
    </div>

    <div class="lower-data-cold">
      <div class="more-information-container">
        <div class="more-information">
          <div class="more-information-label">
            <img src="../assets/cloudy.png" />
            <span>Feels like</span>
          </div>
          <div class="more-information-value">
            {{ weatherData.main.feels_like | number : "1.0-0" }}
          </div>
        </div>

        <div class="more-information">
          <div class="more-information-label">
            <img src="../assets/humidity.png" />
            <span>Humidity</span>
          </div>
          <div class="more-information-value">
            {{ weatherData.main.humidity }}
          </div>
        </div>

        <div class="more-information">
          <div class="more-information-label">
            <img src="../assets/storm.png" />
            <span>Winds</span>
          </div>
          <div class="more-information-value">
            {{ weatherData.wind.speed | number : "1.0-0" }}
          </div>
        </div>

        <div class="more-information">
          <div class="more-information-label">
            <img src="../assets/air_pressure.png" />
            <span>Air pressure</span>
          </div>
          <div class="more-information-value">
            {{ weatherData.main.pressure }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
